<div class="row">
    <!-- panel preview -->
    <div class="col-sm-10">
        <h4>Add product:</h4>
        <div class="panel panel-default">
            <div class="panel-body form-horizontal payment-form">
                <form action="/addproduct" method="post">
                    <div class="form-group">
                        <label for="concept" class="col-sm-3 control-label">Product name</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="name" name="name" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="description" class="col-sm-3 control-label">Description</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="description" name="description" required>
                        </div>
                    </div> 
                    <div class="form-group">
                        <label for="amount" class="col-sm-3 control-label">Price</label>
                        <div class="col-sm-9">
                            <input type="number" class="form-control" id="value" name="value" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="status" class="col-sm-3 control-label">Category</label>
                        <div class="col-sm-9">
                            <select class="form-control" id="category" name="category">
                                <option>Cars</option>
                                <option>Fashion</option>
                                <option>Eletronics</option>
                                <option>Entertainment</option>
                                <option>Home</option>
                                <option>Sports</option>
                                <option>Toys</option>
                            </select>
                        </div>
                    </div> 
                    <div class="form-group">
                        <div class="col-sm-12 text-right">
                            <button type="submit" class="btn btn-default preview-add-button">
                                <span class="glyphicon glyphicon-plus"></span> Add
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>            
    </div> <!-- / panel preview -->
</div>