<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Buy & Sell</title>

    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../css/justified-nav.css" rel="stylesheet">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

  </head>

  <body>
    <%
      var msg_navbar_login = "" 
      if(logged){
        link_href = "home";
        msg_navbar_login = "My page"
      } else{
        link_href = "login";
        msg_navbar_login = "Login"
      }
    %>

    <div class="container">

      <!-- The justified navigation menu is meant for single line per list item.
           Multiple lines will require custom code not provided by Bootstrap. -->
      <div class="masthead">
        <h3 class="text-muted">Buy & Sell</h3>
        <nav>
          <ul class="nav nav-justified">
            <li><a href="/">Home</a></li>
            <li><a href="/products">Products</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Contact us</a></li>
            <li><a href="/singup">Sign Up</a></li>
            <li><a href="/<%=link_href%>"><%= msg_navbar_login%></a></li>
          </ul>
        </nav>
      </div>

    <div class="container">
	  
    	<div id="signupbox" style=" margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title">Sign Up</div>
                </div>  
                
                <div class="panel-body" >
                    <form id="signupform" class="form-horizontal" role="form" method="POST" action="/register">
                        <% if(validation.length > 0){ %>
                            <div class="alert-danger">
                                <strong>Atenção!</strong>
                                <ul>
                                    <% for(var i = 0 ; i < validation.length;i++){ %>
                                        <li><%=validation[i].msg%></li>
                                    <%  } %>
                                </ul>
                            </div>
                        <% } %>

                        <div class="form-group">
                            <label for="email" class="col-md-3 control-label">Email</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" name="email" placeholder="Email Address" required>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label for="firstname" class="col-md-3 control-label">Username</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" name="username" placeholder="Username" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="firstname" class="col-md-3 control-label">First Name</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" name="firstname" placeholder="First Name" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="lastname" class="col-md-3 control-label">Last Name</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" name="lastname" placeholder="Last Name" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password" class="col-md-3 control-label">Password</label>
                            <div class="col-md-9">
                                <input type="password" class="form-control" name="password" placeholder="Password" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <!-- Button -->                                        
                            <div class="col-md-offset-3 col-md-9">
                                <button id="btn-signup" type="submit" class="btn btn-info"><i class="icon-hand-right"></i> &nbsp Sign Up</button>
                            </div>
                        </div>          
                    </form>
                 </div>
            </div>           
         </div>

	</div>

      <!-- Site footer -->
      <footer class="footer">
        <p>&copy; 2017 Buy & Sell, Inc. Guilherme Pavarina de Sá</p>
      </footer>

    </div> <!-- /container -->

  </body>
</html>
